 body {
  font-family: 'Montserrat', sans-serif;
  margin:0;
  background-color: whitesmoke;
  height: 100%;
}

h1{
  color: black;
  margin: 0;
}

p{
  color: black;
  padding: 1rem;
  margin: 0;
}
.header{
  text-align: center;
  margin: auto;
}

#navbar{
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    display: inline-flex;
    overflow: hidden;
    width: 100%;
    background-color: #a6c1ee;
    float: right;
    z-index: 1;
  }

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.row-1 {
    display: inline;
  }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  flex-wrap: wrap-reverse;
  max-width: 80vw;
  margin: 0 auto;
  min-height: 5rem;
}

.btn {
  flex: 1 1 auto;
  padding: 30px;
  max-width: 150px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  border-radius: 0;
  background-color: #a6c1ee;
 }


.btn:hover {
  background-position: right center; 
  background-image: url(https://media.giphy.com/media/xT9IgjHkJczyL3Ujle/giphy.gif);
  }

 
.parallax {
  background-image: url("img_parallax.jpg");
  min-height: 300px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.scroller{
  font-size:30px;
}


.project-container{
  position: relative;
  color: black;
  border-style: solid;
  border-color: dimgrey;
} 

.text-block {
  position: absolute;
  top: 14px;
  left: 20px;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}

#chatterboxes{
  opacity: 0.2;
  max-width: 100%;
  z-index: -1;
}

#click-tap-beats{
  opacity: 0.2;
  max-width: 100%;
  z-index: -1;

      }

#complimenter{
  opacity: 0.2;
  max-width: 100%;
  z-index: -1;

    }