 body {
    font-family: 'Montserrat', sans-serif;
    margin:0;
    background-color: whitesmoke;
}

h1{
    color: black;
    padding: 1rem;
    margin: 0;
}
p{
    color: black;
    padding: 1rem;
    margin: 0;
}
 .navbar{
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%)
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  flex-wrap: wrap-reverse;
  max-width: 80vw;
  margin: 0 auto;
  min-height: 5rem;
}
.btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 30px;
  max-width: 150px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
   box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%)
 }

 .btn:hover {
    background-image: url(https://media.giphy.com/media/xT9IgjHkJczyL3Ujle/giphy.gif);
    background-position: right center; 
  }

/* 
  .btn-5{
      
  }
  .btn-6{
      background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%)
  }
  .btn-4{
      background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%)
  } */

  body, html {
    height: 100%;
  }
  .parallax {
        /* The image used */
        background-image: url("img_parallax.jpg");
      
        /* Set a specific height */
        min-height: 300px; 
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .scroller{
        background-color: #a6c1ee;
        font-size:36px;
        
      }
      #chatterboxes{
        opacity: 0.2;
        max-height: 65rem
      }
      #click-tap-beats{
        opacity: 0.2;
        max-height: 50rem
      }
      #complimenter{
        opacity: 0.2;
        max-height: 45rem
      }